<mat-card>
    <h1 style="font-size: 40px; color: black;">
        <b>Booking Details</b>
    </h1>
    <div class="details">
        {{showBooking?.pnrNo}}
        <br><br>
        {{showBooking?.packageId}}
        <br><br>
        {{showBooking?.travellerName}}
        <br><br>
        {{showBooking?.travellerEmail}}
        <br><br>
        {{showBooking?.travellerMobileNo}}
        <br><br>
        {{showBooking?.travellerAge}}
        <br><br>
        {{showBooking?.travellerAdults}}
        <br><br>
        {{showBooking?.travellerChildren}}
    </div>
</mat-card>